.vip-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    position: sticky;
    height: 75px;
    top: 0;
    z-index: 10;
    background: linear-gradient(180deg, #000511 50%, rgba(0, 5, 17, 0.00) 100%);
    backdrop-filter: blur(10px);
}

.vip-container img {
    cursor: pointer;
}

.vip-button {
    cursor: pointer;
    height: 30px;
    border-radius: 99px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, #2558D3 29%, #1944AC 100%);
    box-shadow: -1px -1px 2px 0px #19367C inset, 1px 1px 0px 0px rgba(192, 193, 224, 0.20) inset, 0px 12px 50px 0px rgba(71, 113, 217, 0.44);
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 1px;
    width: 151px;
}

#currentLang {

    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(99deg, #363B46 -2.08%, #121722 100%);
    height: 30px;
    color: white;
}
#modalLang{
    width: 100%;
    height: 100vh;
    z-index: 99;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color:  rgba(0, 0, 0, 0.54);
}
#langList{
    display: flex;
    gap: 12px;
}
.lang{
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background: linear-gradient(99deg, #363B46 -2.08%, #121722 100%);    border-radius: 4px;

}
#title{
    color: white;
    font-size: 24px;


}
.lang img{
    width: 40px;
}

#closeBtnLang{
    background-color: white;
    margin-top: 10px;
    border-radius: 999px;
    padding: 5px 10px;
    color: black;
    font-weight: 600;
    border: none;
}